<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="Kayode.TestComponent.Listeners" />
    </listeners>

    <test name="Submit Order Test">
        <classes>
            <class name="Kayode.Tests.SubmitOrderTest" />
        </classes>
    </test>

    <test name="Error Validation Test">
        <classes>
            <class name="Kayode.Tests.ErrorValidationTest" />
        </classes>
    </test>
</suite>